.footer {
  background-color: $color-accent;
  padding: 20px 0;
  @media (max-width: 767px) {
    padding: 20px 15px;
  }
  .footer-list {
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
      justify-content: center;
    }
    .logo {
      align-items: center;
      img {
        width: 128px;
        height: 38px;
      }
      p {
        color: #ffffff;
        font-size: 14px;
      }
    }
    .footer-menu {
      a {
        color: #ffffff;
        font-size: $font-s;
        &:hover {
          color: #ffffffb2;
        }
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}
